.grid {
  display: flex;
}

.cell {
  flex: 0 1 auto;
}

.far-right {
  align-items: flex-end;
}

.flex-col {
  flex-flow: column nowrap;
}

/* Base classes
 * By using the child selector '>', we can change the behaviour of all child
 * cells by changing the parents class.
 * Apply the small || large grid classes to an element to have it override its
 * layout as the screen size changes.
 */
.grid-fit > .cell {
  flex: 1;
}

.grid-full > .cell {
  flex: 0 0 100%;
}

.grid-3of4 > .cell {
  flex: 0 0 75%;
}

.grid-2of3 > .cell {
  flex: 0 0 66.6666%;
}

.grid-halves > .cell {
  flex: 0 0 50%;
}

.grid-thirds > .cell {
  flex: 0 0 33.3333%;
}

.grid-fourths > .cell {
  flex: 0 0 25%;
}

/* Small to medium screens */
@media (min-width: 24em) {
  .small-grid-fit > .cell {
    flex: 1;
  }
  .small-grid-full > .cell {
    flex: 0 0 100%;
  }
  .small-grid-halves > .cell {
    flex: 0 0 50%
  }
  .small-grid-thirds > .cell {
    flex: 0 0 33.3333%
  }
  .small-grid-fourths > .cell {
    flex: 0 0 25%
  }
}

/* Large screens */
@media (min-width: 48em) {
  .large-grid > .cell {
    flex: 1;
  }
  .large-grid-full > .cell {
    flex: 0 0 100%;
  }
  .large-grid-halves > .cell {
    flex: 0 0 50%
  }
  .large-grid-thirds > .cell {
    flex: 0 0 33.3333%
  }
  .large-grid-fourths > .cell {
    flex: 0 0 25%
  }
}

/* Very large screens */
@media (min-width: 72em) {
  .xlarge-grid > .cell {
    flex: 1;
  }
  .xlarge-grid-full > .cell {
    flex: 0 0 100%;
  }
  .xlarge-grid-2of3 > .cell {
    flex: 0 0 66.6666%;
  }
  .xlarge-grid-halves > .cell {
    flex: 0 0 50%
  }
  .xlarge-grid-thirds > .cell {
    flex: 0 0 33.3333%
  }
  .xlarge-grid-fourths > .cell {
    flex: 0 0 25%
  }
}
