*, *:before, *:after {
  box-sizing: border-box;
}
css/
html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: grid;
  font: 400 1.5rem/1.8rem Georgia, "Sorts Mill Goudy", "Source Sans Pro", "Open Sans", "Helvetica Neue", sans-serif;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding-left: 1em;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote > p {
  padding: 0.5em 0;
}

a {
  color: #4d4e53;
  text-decoration: none;
}

a:hover {
  color: #166d99;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ddd, #333, #ddd)
}

.link-inactive {
  pointer-events; none;
  cursor: default;
}

.main-grid {
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr 3rem;
  grid-gap: 1rem;
  grid-template-areas:
    "header header header"
    ". nav ."
    "sidebar content ."
    "footer footer footer";
}

/* Retina screen upscales the ppi; look to the computed size for actual
 * breakpoints */
@media (min-width: 800px) {
  .main-grid {
    grid-template-columns: auto 80vw auto;
  }
}

@media (min-width: 1440px) {
  .main-grid {
    grid-template-columns: auto 50vw auto;
  }
}

/* Header */
header.hero {
  grid-area: header;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 2.5rem;
}

.hero .surely-all-this {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-size: 1.8em;
    letter-spacing: .3em;
    line-height: 1em;
    text-align: right;
    text-transform: uppercase;
    vertical-align: bottom;
}

.hero .not-without-meaning {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    margin-top: -1.7em;
    font-size: 1em;
    letter-spacing: .3em;
    line-height: 1.4em;
    text-transform: uppercase;
}

header.hero a:hover {
  color: #f55b5b;
}

header.hero a > .redden:hover {
  color: black;
}


/* Navigation */
nav {
  grid-area: nav;
  display: flex;
  flex-flow: column;
  align-items: center;
  font: 700 1.2rem/1.8rem Cinzel,"Open Sans";
  text-transform: uppercase;
}

/* Navbar links to major sections */
.nav-links {
  flex: 1 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .2rem;
}

ul.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}

ul.pagination > li {
  padding: 0 .7rem;
}

li.disabled > a {
  color: gray;
}

li.active > a {
  color: blue;
  text-decoration: underline;
}

.book-links {
  width: 80%;
}

/* Main Content */
.content {
  grid-area: content;
  font-size: 1.12rem;
  line-height: 1.4rem;
}

.content-header {
  display: flex;
  flex-wrap: nowrap;
  /*align-items: center;*/
}

.content-title-ts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-title {
  flex: 3 1 66%;
  font-size: 1.5em;
}

.content-title h1 {
  margin: .5em 0;
  line-height: 1em;
}

.content-section-tags {
  flex: 1 2 33%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.content-section {
  font-size: 1.rem;
  font-weight: 550;
}

.content-tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

.content-tags li {
  border: 2px solid gray;
  border-radius: 3px;
  padding: 1px 2px;
  margin: 0px 2px 2px 0px;
  color: gray;
  font-size: .8em;
}

.content-tags li:hover {
  border-color: #166d99;
}

/* Vertically stack timestamp->Title->[Section, Tags...]
 * on small screens */
@media all and (max-width:  640px) {
  .content-header {
    flex-direction: column;
  }

  .content-section-tags {
    flex-direction: row;
  }
}

.content p > a {
  text-decoration: underline;
}

/* Footer */
footer {
  grid-row: 4;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 1px 1fr;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: ". desc gh";
  align-items: center;
  font-size: 1rem;
  padding: 0 1rem;
}

footer > hr {
  grid-row: 1;
  grid-column: 1 / 3;
  margin-bottom: .5em;
}

footer > a.site-desc {
  grid-area: desc;
  justify-self: center;
  font-size: 1em;
}

footer > a.gh-link {
  grid-area: gh;
  justify-self:  end;
}

img.gh-icon {
   object-fit: fill;
}

/* Aesthetics */
.redden {
  color: #f55b5b;
}

/* Should be changed to reflect the rest of the site's styles */
code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: #515151;
}
<<<<<<< HEAD:public/css/curate.css

.quote {
  display: flex;
  flex-flow: column nowrap;
}

.quote > .quote-source {
  align-self: flex-end;
}
=======
>>>>>>> 1a0554488a6b0bb8c1ac600ea8f25f774c06f114:public/css/curate.css
