<header class="content-header">

  <div class="content-title-ts">
    <time datetime="{{ .Date.Format "2006-01-02" }}" class="content-ts">
      {{ .Date.Format "Monday, 2006 Jan 2" }}
    </time>

    <a href="{{ .Permalink }}" class="content-title">
      <h1>{{ .Title }}</h1>
    </a>
  </div>

  <div class="content-section-tags">
    <div class="content-section">{{ .Section}}</div>

  {{- if .Params.tags -}}
    <ul class="content-tags">
    {{- range sort .Params.tags -}}
      <li><a href="{{ "/tags/" | relLangURL}}{{ . | urlize }}">{{ .  }}</a></li>
    {{- end -}}
    </ul>
  {{- end -}}
  </div>
</header>
