<article class="content">

  <section>
    <div class="content-header">
      <div class="content-title">
        <a href="{{ .Permalink }}">
          <h1>{{ .Title }}</h1>
        </a>
      </div>
      <div class="content-header-meta">
        <div class="content-ts">{{ .Date.Format "Monday, 2006 Jan 2" }}</div>
        {{ if .Params.tags }}
          <ul class="content-tags">
          {{ range sort .Params.tags }}
            <li><a href="{{ "/tags/" | relLangURL}}{{ . | urlize }}">{{ .  }}</a></li>
          {{ end }}
          </ul>
        {{ end }}
        </div>
      </div>
    </div>

    {{ .Content }}
  </section>
</article>
