{{ partialCached "head.html" . }}

<main class="main-grid">

  <header>
    <div class="header-wrapper">
      <h1 class="surely-all-this">Surely all this</h1>
      <h1 class="not-without-meaning">
        is <span class="redden">not</span> without meaning</h1>
    </div>
  </header>

  {{ partialCached "nav.html" . }}

  <article class="content">
    {{ template "_internal/pagination.html" . }}

    {{ range .Paginator.Pages }}
    <section>
      <div class="content-header">
        <div class="content-title">
          <a href="{{ .Permalink }}">
            <h1 class="content-title">{{ .Title }}</h1>
          </a>
        </div>
        <div class="content-header-meta">
          <div class="content-ts">{{ .Date.Format "Monday, 2006 Jan 2" }}</div>
          {{ if .Params.tags }}
          <ul class="content-tags">
          {{ range sort .Params.tags }}
          <li><a href="{{ "/tags/" | relLangURL}}{{ . | urlize }}">{{ .  }}</a></li>
          {{ end }}
          {{ end }}
          </div>
        </div>
      </div>

      <p>{{ .Summary }}</p>
    </section>
    {{ end }}

    {{ template "_internal/pagination.html" . }}
  </article>

</main>

{{ partialCached "footer.html" . }}
