{{ partialCached "head.html" . }}

<main class="main-grid">

  <header>
    <div class="header-wrapper">
      <h1 class="surely-all-this">Surely all this</h1>
      <h1 class="not-without-meaning">
        is <span class="redden">not</span> without meaning</h1>
    </div>
  </header>

  {{ partial "nav.html" . }}

  <article class="content">

    <section>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut ligula nisl. Sed eget bibendum magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eu varius mauris. Sed convallis massa placerat erat varius, quis faucibus diam pharetra. Sed ultricies massa mollis mi consectetur, a venenatis turpis pretium. Fusce pretium bibendum nibh, at ullamcorper elit tincidunt laoreet. Ut fringilla metus eu mollis vehicula. Duis feugiat ut arcu id dignissim. Pellentesque porta cursus rutrum. Sed luctus nec felis eget rhoncus. Suspendisse semper maximus sem, vitae commodo purus fringilla placerat.

In lacinia eros sed purus porttitor aliquam. Donec blandit mattis condimentum. Proin sed urna ac urna vehicula rutrum ac eu justo. Phasellus posuere rutrum urna at tempor. Aenean condimentum imperdiet cursus. Nam imperdiet, velit non mattis dapibus, metus magna convallis felis, non faucibus diam turpis id mauris. Nulla facilisi. Phasellus vel massa dui. Mauris sit amet porta neque. Nulla facilisi. Quisque sit amet leo varius, aliquet diam sed, scelerisque nibh.
    </section>

  </article>

</main>

{{ partialCached "footer.html" . }}
